@model Album

@{
    ViewBag.Title = "Formulaire de création d'album";
}

Coucou je suis le formulaire de création d'album

@using( Html.BeginForm( "Create", "Album", FormMethod.Post, new { enctype = "multipart/form-data" } ) )
{
    @Html.EditorForModel();
}
@section scripts {
    <script>
        $('#addTrack').on('click', function (event) {
            $.ajax({
                method: 'GET',
                url: 'http://localhost:2774/Admin/Album/GetTrackFormRow'
            }).done(function (data) {
                $('.track-list-form').append('<li>' + data + '</li>');
            });
        });
    </script>
}